*,
*:before,
*:after {
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
    font-weight: 400;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --default-text-color: #777777;
    --light-text-color: #cccccc;
    --dark-text-color: #555555;
    --brand-color: #ae9c9c;
    --btn-background-color: #7cc576;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 256px;
}

/* HEADERS */

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.title-level-1, .title-level-2, .title-level-3 {
    text-transform: uppercase;
}

.title-level-1 {
    font-size: 5rem;
    margin: 3.2rem 0;
}
.title-level-2, .title-ampersand {
    padding-top: 3.4rem;
    font-size: 2.8rem;
}    
.title-level-2, .title-level-3 {
    margin-bottom: 1.6rem;
}
.title-level-3 {
    font-size: 2rem;
}
.title-level-4 {
    font-size: 1.8rem;
    text-transform: capitalize;
    margin: 0;
}

.subtitle-level-1 {
    max-width: 85%;
    text-align: center;
    font-size: 1.8rem;
    margin: 0 0 3.2rem;
}
/* END OF HEADERS */

/* TEXT ELEMENTS */
.basic-p {
    color: var(--default-text-color);
    font-size: 1.4rem;
    margin: 1.6rem 0;
    padding: 0;
}

cite {
    font-style: normal;
}
/* END OF TEXT ELEMENTS */

/* FONT COLORS */
.text-default {
    color: var(--default-text-color);
}
.text-green {
    color: var(--btn-background-color);
}
.text-white {
    color: #ffffff;
}
.text-dark {
    color: var(--dark-text-color);
}
.text-light {
    color: var(--light-text-color);
}
/* END OF FONT COLORS */

/* NAVBAR */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    min-height: 80px;
    z-index: 9999;
}

.navbar a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.navbar a:hover {
    color: #000000;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: var(--dark-text-color);
    font-size: 1.8rem;
}

.logo {
    background-image: url(img/logo.png);
    width: 30px;
    height: 30px;
    margin: 2rem;
}

.navbar-links {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: right;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
    border-bottom: 1px solid var(--light-text-color);
}

.navbar-links a {
    display: block;
    color: var(--default-text-color);
    font-size: 1.6rem;
    margin: 1.2rem;
    margin-right: 2rem;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked~.navbar-links {
    transform: scale(1, 1);
}

.nav-toggle:checked~.navbar-links a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    display: inline-block;
    cursor: pointer;
    margin: 2rem;
}

.nav-toggle-label:hover span {
    background-color: var(--dark-text-color);
}

.nav-toggle-label span {
    display: block;
    background-color: #beaaaa;
    height: 3px;
    width: 3rem;
    margin: 6px 0px;
    border-radius: 2px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .nav-toggle-label {
        display: none;
    }

    .navbar-links {
        text-align: right;
        position: initial;
        transform: scale(1, 1);
        border: none;
    }

    .navbar-links a {
        display: inline;
        opacity: 1;
    }
}
/* END OF NAVBAR */

/* SECTIONS */
.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 5% 1.8rem;
    text-align: center;
}

.section:nth-of-type(1) {
    margin-top: 80px;
}

/* BUTTONS */
.btn {
    background-color: var(--btn-background-color);
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7); */
    border-radius: 4rem;
    padding: 2rem 2.5rem;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: var(--dark-text-color);
    color: var(--light-text-color);
}

.btn-contact {
    border: 0.3rem solid white;
    border-radius: 0.5rem;
}

.btn-contact:hover {
    background-color: white;
    color: var(--btn-background-color);
}

/* HOME */
.section-home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("img/laptop.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 530px;
}

/* SERVICES / ABOUT */
.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.service {
    text-align: center;
    margin-top: 2rem;
    transition: all 0.2s ease-in-out;
}

.service_img {
    margin-bottom: 1.6rem;
}

.service:hover {
    transform: scale(1.1);
}

/* END OF SERVICES */

/* BLOG */
.section-blog {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("img/cliff.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blog {
    color: var(--light-text-color);
    margin: 0 0 3.2rem;
    padding: 0;
    /* width: 85%;
    margin-left: 0 auto 3rem auto; */
}

.blog_item {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

.blog_item:hover {
    color: var(--dark-text-color);
}

.blog_item:hover > .check-icon {
    background-color: var(--dark-text-color);
}

.check-icon {
    background-color: var(--light-text-color);
    mask: url(img/icons/check-circled.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 1rem;
}
/* END OF BLOG */

/* PORTFOLIO */
.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article_features {
    padding: 0;
    margin: 0;
}

.feature {
    list-style: none;
    text-align: left;
    display: flex;
    margin: 0 0 1.6rem;
    transition: all 0.2s ease-in-out;
}

.feature:hover {
    transform: translateX(1rem);
}

.feature_icon_wrapper {
    border: 3px solid black;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.feature_icon {
    height: 42px;
    width: 42p;
}

.feature_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.feature_desc {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    color: var(--default-text-color);
}

.feature_link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8rem;
    cursor: pointer;
    margin: 3.2rem 0 1.6rem;
    text-decoration: none;
}

.feature_link:hover {
    color: var(--dark-text-color);
}
/* END OF PORTFOLIO */

/* VALUES SECTION*/
.section-values {
    background-color: #f9f9f9;
}
.values_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.value_icon_wrapper {
    border: 4px solid var(--default-text-color);
    border-radius: 50%;
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.6rem;
    position: relative;
}

.value_description {
    text-align: center;
}

.spacer {
    display: none;
}

/* MEDIA FOR VALUES SECTION */
@media screen and (min-width: 768px) {
    .values_wrapper {
        justify-content: center;
        align-items: unset;
        flex-direction: row;
    }

    .value {
        width: 30%;
    }

    .spacer {
        margin-top: calc(96px/2);
        position: relative;
    }
    .spacer::before {
        background-color: var(--default-text-color);
        position: absolute;
        content: "";
        width: 15vw;
        height: 3px;
        transform: translateX(-50%);
    }
}
/* END OF VALUES SECTION */

/* CLIENTS */
.clients-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
}
.client {
    margin: 1.6rem 0;
    padding: 0;
    align-items: flex-start;
}

.client:nth-of-type(even) {
    align-items: flex-end;
}

.client img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.client_opinion {
    margin-top: 2.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    position: relative;
}

.client_opinion:before {
    background-color: #f9f9f9;
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    top: -10px;
    left: 50%;
    z-index: -1;
    transform-origin: center center;
    transform: translate(-50%) rotate(45deg);
}
/* END OF CLIENTS */

/* CONTACT */
.section-contact {
    background-color: var(--btn-background-color);
}
/* END OF CONTACT */

/* RECOMMENDATIONS */
.section-recommendations {
    padding-top: 1.8rem;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: none;
}

.section-recommendations img {
    margin: 1.6rem;
    width: 200px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.section-recommendations img:hover {
    filter: grayscale(0);
    opacity: 1;
}
/* END OF CRECOMMENDATIONS */

/* CONTACT US / LATEST */
.section-news {
    background-color: #222222;
    padding: 1.8rem 0 0;
    color: white;
    font-size: 1.4rem;
    flex-direction: column-reverse;
}

.section-news address, .section-news a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.row {
    margin: 0.8rem;
}

.media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.6rem;
}

.media:nth-of-type(1) {
    margin-top: 3.2rem;
}

.media a, .media span {
    font-size: 1.4rem;
    color: white;
    font-style: normal;
    cursor: pointer;
}

.media-tag {
    font-weight: bold;
}

.media-body {
    text-align: left;
}

.media-body:hover a {
    color: var(--btn-background-color);
}

.media-img {
    width: 2.3rem;
    margin-right: 1.6rem;
    flex-shrink: 0;
}

.media-img-top {
    align-self: flex-start;
}
/* END OF CONTACT US / LATEST */
